html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poiret One", cursive, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  background-image: url("../public/images/oriental-tiles.png");
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-scroll {
  margin-bottom: 200px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
.carousel-caption {
  color: white !important;
  background-color: #1a2238;
  height: 30px;
  width: 100%;
  padding: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
  margin: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*font-family: 'Josefin Slab', serif;
font-family: 'Poiret One', cursive;
font-family: 'Zen Loop', cursive;*/
