.active {
  color: black !important;
}

.active::after {
  content: "";
  display: block;
  background-color: black;
  height: 1px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bg_card {
  background-color: #1a2238 !important;
  color: white;
}
.bg_card:hover {
  filter: brightness(1.4);
}

.bouton {
  background-color: #1a2238 !important;
  color: white;
  border: none;
  transition: transform 0.2s;
}
.bouton:hover {
  filter: brightness(1.4);
  transform: scale(1.1);
}
.image {
  opacity: 0.6;
}
.menu {
  z-index: 1;
}
